/* Limit image width to avoid overflow the container */
img.sabirov-cropper-image {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.cropper-browse-group, .cropper-preview-img {
    margin-bottom: 1rem;
}

.cropper-warning {
    margin-top: 1rem;
    margin-bottom: 0;
    display: none;
}